.switcher {
    display: inline-block;
    position: relative;
}

.switcher__input {
    position: absolute;
    /* width: 1px; */
    /* height: 1px; */
    margin: -1px;
    clip: rect(0 0 0 0);
}

.switcher__border {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 142px;
    height: 75px;
    box-sizing: border-box;
    background: linear-gradient(180deg,#f4f4f4 0%,#ebebeb 3.89%,#e9e9e9 6.73%,#e1e1e1 9.69%,#dbdbdb 88.64%,#dddddd 92.5%,#d8d8d8 96.36%,#d1d1d1 100%);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 0px 14px #adadad;
    border-radius: 40px;
        --background: #655466;
        --left: 4px;
        --right: auto;
}
.switcher__body {
    position: absolute;
    top:8px;
    right: 8px;
    left: 8px;
    bottom: 8px;
    background: #655466;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: block
}

.switcher__input:checked + .switcher__border .switcher__body {
    background: #A220C3;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.switcher__button {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: -4px 4px 4px #949494, inset 0px -6px 9px #949494;
}
.switcher__input:checked + .switcher__border .switcher__button {
    left: calc(100% - 70px);
}

.switcher__button-body {
    position: absolute;
    top: 9px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: #E4E4E4;
    background-blend-mode: hue;
    box-shadow: inset 3px 3px 9px rgba(87, 87, 87, 0.25);
}

.switcher__button-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:22px;
    height: 24px;
    fill:none;
    stroke:#655466;
}

.switcher__input:checked + .switcher__border .switcher__button-image {
    stroke: #A220C3;
}

.switcher__input:focus + .switcher__border {
    box-shadow: 0 0 3px green;
}